@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest-color: #a0c878;
  --lightest-color: #fffdf6;
  --main-bg-color: #faf6e9;
  --github-color: #2b3a42;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkest-color);
  padding: 1rem;
}

header h1 {
  display: inline-block;
  color: var(--lightest-color);
  vertical-align: middle;
}

.library-icon {
  color: var(--lightest-color);
  vertical-align: middle;
}

footer {
  background-color: var(--github-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--main-bg-color);
  font-size: 1rem;
}

.github-icon{
    vertical-align: middle;
}

#github-id{
    display: inline-block;
    vertical-align: middle;
}

main {
  flex: 1;
  padding: 2rem;
  background-color: var(--main-bg-color);
}
